[Unit]
Description=Redirector daemon for CERNBox
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/log/cboxredirectd
ExecStart=/usr/local/bin/cboxredirectd
StandardOutput=null
StandardError=syslog
LimitNOFILE=49152
Restart=always

[Install]
WantedBy=multi-user.target

